
table {
            
            border-collapse: collapse;
            width: 100%;
        }

        td{
        border: 1px solid;
        text-align: left;
        padding: 8px;
        }
tr:nth-child(even) {
background-color: #848f78b9;
}
